.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-width: 0;
  width: auto;
  padding: .7rem;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button--secondary {    
  color:#E7E7EB;        
  background-color: #6E707A;    
}

.button--secondary:hover {
  background-color: #5d6170;  
}

.button--rounded {
  height: fit-content;
  border-radius: 100%;        
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;   
}

.button--disabled,
.button--disabled:hover{
  color:#898c97; 
  cursor: not-allowed;
  background-color: #6E707A;   
}