:root {  
  --side-bar-width:459px;  
  --main-container-width:700px;
}

@media (max-width: 575.98px) {  
  :root {  
    --side-bar-width:100vw;
    --main-container-width:320px;
  }
}

@media (min-width: 576px) and (max-width: 778.98px) {
  :root {
    --side-bar-width:100vw;    
    --main-container-width:420px;
  }
}

@media (min-width:779px) and (max-width: 1091.98px) {
  :root {
    --main-container-width:auto;
  }
} 
